WEBService/Connected Services/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61388/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ObjetosNegocio" />
  <xs:element name="login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="contraseña" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="loginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="loginResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerUsuarios">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerUsuariosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ObjetosNegocio" minOccurs="0" name="obtenerUsuariosResult" nillable="true" type="q1:ArrayOfUsuariosNegocio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="agregarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ObjetosNegocio" minOccurs="0" name="usuarios" nillable="true" type="q2:UsuariosNegocio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="agregarUsuarioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ObjetosNegocio" minOccurs="0" name="usuarios" nillable="true" type="q3:UsuariosNegocio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarUsuarioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarUsuarioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerClientes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerClientesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ObjetosNegocio" minOccurs="0" name="obtenerClientesResult" nillable="true" type="q4:ArrayOfClientesNegocio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="agregarCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ObjetosNegocio" minOccurs="0" name="clientes" nillable="true" type="q5:ClientesNegocio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="agregarClienteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ObjetosNegocio" minOccurs="0" name="clientes" nillable="true" type="q6:ClientesNegocio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarClienteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarClienteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerMarca">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerMarcaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ObjetosNegocio" minOccurs="0" name="obtenerMarcaResult" nillable="true" type="q7:ArrayOfMarcasNegocio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="agregarMarca">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ObjetosNegocio" minOccurs="0" name="marca" nillable="true" type="q8:MarcasNegocio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="agregarMarcaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarMarca">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ObjetosNegocio" minOccurs="0" name="marca" nillable="true" type="q9:MarcasNegocio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarMarcaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarMarca">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarMarcaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerCategorias">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerCategoriasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ObjetosNegocio" minOccurs="0" name="obtenerCategoriasResult" nillable="true" type="q10:ArrayOfCategoriasNegocio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="agregarCategoria">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ObjetosNegocio" minOccurs="0" name="categoria" nillable="true" type="q11:CategoriasNegocio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="agregarCategoriaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarCategoria">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ObjetosNegocio" minOccurs="0" name="categoria" nillable="true" type="q12:CategoriasNegocio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarCategoriaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarCategoria">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarCategoriaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerArticulos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerArticulosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/ObjetosNegocio" minOccurs="0" name="obtenerArticulosResult" nillable="true" type="q13:ArrayOfArticulosNegocio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="agregarArticulo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/ObjetosNegocio" minOccurs="0" name="articulo" nillable="true" type="q14:ArticulosNegocio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="agregarArticuloResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarArticulo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/ObjetosNegocio" minOccurs="0" name="articulo" nillable="true" type="q15:ArticulosNegocio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="actualizarArticuloResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarArticulo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarArticuloResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerFacturas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerFacturasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/ObjetosNegocio" minOccurs="0" name="obtenerFacturasResult" nillable="true" type="q16:ArrayOfFacturasNegocio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="agregarFactura">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/ObjetosNegocio" minOccurs="0" name="factura" nillable="true" type="q17:FacturasNegocio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="agregarFacturaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarFactura">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarFacturaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerDetalleFacturas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerDetalleFacturasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/ObjetosNegocio" minOccurs="0" name="obtenerDetalleFacturasResult" nillable="true" type="q18:ArrayOfDetalleFacturasNegocio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>